<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#about-me">Home</a></li>
          <li class="masthead__menu-item"><a href="#about-me">About</a></li>
          <li class="masthead__menu-item"><a href="#research">Research</a></li>
          <li class="masthead__menu-item"><a href="#honors">Honors</a></li>
          <li class="masthead__menu-item"><a href="#education">Education</a></li>
          <li class="masthead__menu-item"><a href="#teaching">Teaching</a></li>
          <li class="masthead__menu-item"><a href="#skills">Skills</a></li>
          <li class="masthead__menu-item"><a href="#cv">CV</a></li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
